<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SignMyProfile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body style="overflow: auto;">
    <section class="hero is-medium is-dark is-bold is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    SignMyProfile is a perfect way to interact with fellow GitHub users through<br>the use of your
                    Profile's README!
                </h1>
                <div class="container">
                    <h1 class="subtitle">Simply Login with GitHub to get started!</h1>
                    <br><a
                        href="https://github.com/login/oauth/authorize?scope=read:user&client_id=0ea3c43634a76b9a4b7f">
                        <button id="github-button" class="button is-dark is-inverted">
                    <i class="fa fa-github fa-2x"></i>
                    <strong style="padding-left: 5px;">Sign in with Github</strong>
                    </button></a><br><br>
                    <img src="https://smp.maxbridgland.com/redir/4256?__random=cafb566d-3801-4575-ba35-06bd38ff6cd6">
                </div>
                <br>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">

            <p class="subtitle">SignMyProfile does not collect any data from you and only uses your GitHub account to
                reduce bots/verify you! Created by <a href="https://github.com/M4cs">Max Bridgland</a></p>
        </div>
    </footer>
</body>

</html>